




/*media para tablet*/

@media only screen and (min-width: 420px) {

    .service.service--design {
        background-image: url('../images/desktop/image-graphic-design.jpg');
    }
    
    .service.service--photography {
        background-image: url('../images/desktop/image-photography.jpg');
    }

}


@media only screen and (min-width: 640px) {

    .header-container {
        height: 100vh
    }

    .header-container h1 {
        font-size: 3.0rem;
        margin: 60px 0 10px 0;
    }

    .detail__text-box{
        max-width:600px;
    }

    .galery-grid-container {
        height:540px;
    }

}

/*media para tablet 2*/
@media only screen and (min-width: 768px) {

    .galery-grid-container {
        height: 724px;
        width: 100%;
        max-width: none;
    }

}


/*media para escritorio*/
@media only screen and (min-width: 820px) {

    .hero-container h1{
        display:flex;
        margin: 30px 0 10px 0;
    }

    h1 p {
        font-size:3rem;
        letter-spacing:8px;
    }

    h1 p:first-child::after {
        content:" ";
        white-space: pre; /*Deja un espacio en blanco*/
    }

    .header-container{
        height:724px;
        background-image: url('../images/desktop/image-header.jpg');
    }

    .logo-container img {
        width: 200px;
        padding-left: 20px;
    }

    .icon-menu{
        display:none;
    }

    .mobile-menu {
        display:block !important;
        animation:none;
        width:auto;
        padding:0;
        position:inherit;
        top:inherit;
        left:inherit;
    }

    .mobile-menu__container{
        height:auto;
        background-color:transparent;
    }
    
    .mobile-menu__container::before{
        display:none;
    }

    .mobile-links-container {
        flex-direction:row;
    }

    .mobile-links-container a {
        color:var(--just-white);
        font-size:1rem;
    }

    .mobile-links-container li {
        margin-left:40px;
    }

    .contact-style {
        background-color: var(--just-white)
    }

    .contact-style:hover {
        color: var(--just-white);
        background-color: hsla(168, 70%, 77%, 0.555); /*TODO ARREGLAR ESTO*/
    }

    .detail {
        display: flex;
        width:100%;
    }

    .detail:first-child{
        flex-direction: row-reverse;
    }

    .detail__img-container {
        height: auto;
        width:50%;
    }

    .detail__text-box {
        align-items:start;
        height: auto;
        width:50%;
        text-align: left;
        padding: 60px;
    }

    .detail__text-box p {
        font-size:0.8rem;
        line-height:1.4rem;
    }

    .detail__text-box h2 {
        margin:25px 0;
        max-width:370px;
    }

    .detail:first-child .detail__text-box a::after,.detail:last-child .detail__text-box a::after { /*TODO ARREGLAR ESTO*/
        top: -8px;
        left: 0;
        opacity:50%;
        transform: translate(-130px);
        transition: all 350ms ease-out;
    }

    .detail:first-child .detail__text-box a:hover::after,.detail:last-child .detail__text-box a:hover::after {
        opacity:100%;
        transform: translate(0px);
    }

    /* .detail__text-box a:hover::before {
        content: '';
        transition: all 350ms ease-out;
        opacity:0%;
        transform: scale(1);
    } */

    /* .detail__text-box a:hover::before {
        content: '☻';
        transition: all 350ms ease-out;
        opacity:100%;
        transform: scale(3);
    } */

    .services-container {
        display: flex;
    }

    .service {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }

    .service__text-box {
        max-width: 350px;
        left: calc(50% - 175px);
    }

    .service__text-box p {
        font-size:0.8rem;
        line-height:1.4rem;
    }

    .testimonial-items {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .testimonial-items p{
        max-width: 800px;
    }

    .galery-grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        max-width: none;
        height: auto;
    }

    .galery-grid__item:nth-child(1) {
        background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
    }
    
    .galery-grid__item:nth-child(2) {
        background-image: url('../images/desktop/image-gallery-orange.jpg');
    }
    
    .galery-grid__item:nth-child(3) {
        background-image: url('../images/desktop/image-gallery-cone.jpg');
    }
    
    .galery-grid__item:nth-child(4) {
        background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
    }

    .footer-container__text-box {
        max-width: 400px; 
        margin: 40px auto;
    }

}

@media only screen and (min-width: 1500px) {

    .service {
        height: 720px;
    }

}

@keyframes fade {
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}